<h1>Listing user_game_level_results</h1>

<table>
  <thead>
    <tr>
      <th>User game level</th>
      <th>Motivator</th>
      <th>X</th>
      <th>Y</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_game_level_results.each do |user_game_level_result| %>
      <tr>
        <td><%= user_game_level_result.user_game_level %></td>
        <td><%= user_game_level_result.motivator %></td>
        <td><%= user_game_level_result.x %></td>
        <td><%= user_game_level_result.y %></td>
        <td><%= link_to 'Show', user_game_level_result %></td>
        <td><%= link_to 'Edit', edit_user_game_level_result_path(user_game_level_result) %></td>
        <td><%= link_to 'Destroy', user_game_level_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User game level result', new_user_game_level_result_path %>
