<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @motivator.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @motivator.description %>
</p>

<%= link_to 'Edit', edit_motivator_path(@motivator) %> |
<%= link_to 'Back', motivators_path %>
