<%= form_for(@user_game_level) do |f| %>
  <% if @user_game_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_game_level.errors.count, "error") %> prohibited this user_game_level from being saved:</h2>

      <ul>
      <% @user_game_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_game_id %><br>
    <%= f.text_field :user_game_id %>
  </div>
  <div class="field">
    <%= f.label :game_level_id %><br>
    <%= f.text_field :game_level_id %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
