<h1>Listing game_levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_levels.each do |game_level| %>
      <tr>
        <td><%= game_level.name %></td>
        <td><%= game_level.level %></td>
        <td><%= game_level.game %></td>
        <td><%= link_to 'Show', game_level %></td>
        <td><%= link_to 'Edit', edit_game_level_path(game_level) %></td>
        <td><%= link_to 'Destroy', game_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game level', new_game_level_path %>
