<p id="notice"><%= notice %></p>

<p>
  <strong>User game:</strong>
  <%= @user_result.user_game %>
</p>

<p>
  <strong>Game level:</strong>
  <%= @user_result.game_level %>
</p>

<p>
  <strong>Motivator:</strong>
  <%= @user_result.motivator %>
</p>

<p>
  <strong>X:</strong>
  <%= @user_result.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @user_result.y %>
</p>

<%= link_to 'Edit', edit_user_result_path(@user_result) %> |
<%= link_to 'Back', user_results_path %>
